.signin{
            border: 1px solid balck;
            background-color: lightblue;
            width: 400px;
            height:260px;
            margin-left:500px;
            margin-top: 300px;
            border-radius: 20px;
}
.pw{
        margin-left: 550px;
        margin-top: -170px;
}
.pn{
        margin-left: 550px;
}
.pn1{
    margin-left: 10px;
}
.pw1{
    margin-left:40px;
}
.signin1{
            margin-left: 650px;
            width: 100px;
            height: 30px;
            margin-top: 20px;
            border-radius: 20px;
            border: 1px solid lightblue;
}
.signin3{
            margin-left: 670px;
            margin-top:-184px;
}