.body{
    background-color: rgb(110, 192, 198);
}.title1{
margin-left: 50px;
margin-top: 20px;
}
.movies{
margin-left:50px;
}
.trailers{
margin-left: 80px;
}
.sports{
margin-left: 80px;
}
.history{
margin-left: 80px;
}
.div1{
padding:20px;
border:1px solid lightblue;
background-color: lightcyan;
}
.headerbtn{
width: 100px;
height: 30px;
margin-left: 1170px;
margin-top: -45px;
background-color: lightblue;
}   
.div2{
        border: 1px solid cyan;
        background-color: lightblue;
        width:1488px;
        height:100px;
}
.action{
            border-radius: 20px;
            border:1px solid cyan;
            width: 80px;
            height:20px;
            margin-left: 40px;
}
.thriller{
            border-radius: 20px;
            border:1px solid cyan;
            width: 80px;
            height:20px;
}
.mastertamil{
                margin-left: 40px;
                margin-top: -80px;
}
.div3{
        border:1px solid rgb(89, 123, 123);
        background-color:rgb(153, 210, 229);
        width: 1490px;
        height: 150px;
        margin-top: 15px;
}
.time1{
        margin-left: 500px;
        margin-top: 30px;
}
.time2{
    margin-left: 50px;
    margin-top: 30px;
}
.time3{
    margin-left: 50px;
    margin-top: 30px;
}
.time4{
    margin-left: 500px;
    margin-top: 30px;
}
.time5{
    margin-left: 50px;
    margin-top: 30px;
}
.time6{
    margin-left: 50px;
    margin-top: 30px;
}
.div4{
    border:1px solid rgb(89, 123, 123);
    background-color:rgb(153, 210, 229);
    width: 1490px;
    height: 150px;
    margin-top: 10px;
}
.div5{
    border:1px solid rgb(89, 123, 123);
    background-color:rgb(153, 210, 229);
    width: 1490px;
    height: 150px;
    margin-top: 10px;
}
.div6{
    border:1px solid rgb(89, 123, 123);
    background-color:rgb(153, 210, 229);
    width: 1490px;
    height: 150px;
    margin-top: 10px;
}
.div7{
    border:1px solid rgb(89, 123, 123);
    background-color:rgb(153, 210, 229);
    width: 1490px;
    height: 150px;
    margin-top: 10px;
}
.bollywood{
            margin-top: 20px;
            margin-left: -200px;
}
.bollywood1{
    margin-top: 20px;
    margin-left: -160px;
}
.bollywood2{
    margin-top: 20px;
    margin-left: -160px;
}
.bollywood3{
    margin-top: 20px;
    margin-left: -190px;
}
.bollywood4{
    margin-top: 20px;
    margin-left: -160px;
}
.ags1{
        margin-left: 30px;
}
.ags1{
    margin-left: 30px;
}
.ags1{
    margin-left: 30px;
}
.ags1{
    margin-left: 30px;
}
